.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-size: contain;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

p {
  color: rgb(47, 0, 79);
}

.darkMode {
  background-color: rgb(19, 0, 32);
  color: white;
  background-size: cover;
  height: 100%;
}

.beeVsFlower {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.pollinators {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
}

button {
  margin: 0.5em;
  color: rgb(19, 0, 32);
  background-color: white;
  border: dashed 2px rgb(47, 0, 79);
}

.darkMode button {
  color: rgb(107, 0, 178);
  background-color: rgb(19, 0, 32);
}

.darkMode p {
  color: rgb(107, 0, 178);
}

.garden {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
  text-align: center;
  font-size: 6em;
  margin-bottom: 1em;
}

.gardenButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.dayOrNight {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
