.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

p {
  color: rgb(47, 0, 79);
}

.darkMode {
  background-color: rgb(19, 0, 32);
  color: white;
}

.beeVsFlower {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.pollinators {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
}

button {
  margin: 0.5em;
  color: rgb(19, 0, 32);
  background-color: white;
  border: dashed 2px rgb(47, 0, 79);
}

.darkMode button {
  color: white;
  background-color: rgb(19, 0, 32);
}

.garden {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 6em;
}

.gardenButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.dayOrNight {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
